.team_container {
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .top {
    text-align: center;
  }
  .card {
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

  .photo {
    height: 65%;
    width: 100%;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .content {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .content-heading {
        margin-bottom: 55px;
      } */
  .card-name {
    font-size: 25px;
  }
  .card-role {
    font-size: 15px;
    margin-top: 2px;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }

  .icon-item {
    margin: 0 5px;
    img {
      width: 25px;
    }
  }
}
@media screen and (max-width: 768px) {
}
