.Cart {
  padding: 30px;
  //   display: flex;
  height: 80%;
  //   justify-content: space-between;
  //   flex-direction: column;
  .cart_items {
    height: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
    .empty_cart {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        text-align: center;
      }
    }
  }
  .order_details {
    display: flex;
    gap: 10px;
    p {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
    }
  }
  .orderbtn {
    background-color: #111;
    color: #fff;
    margin: auto;
    display: block;
    padding: 5px;
  }
}
