.contact-container {
  font-family: sans-serif;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .card {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

  .card-item-head {
    font-weight: 400;
    margin: 10px;
  }

  .card-items {
    margin: 15px;
    text-align: left;
  }

  .item-body {
    font-size: small;
    font-weight: 100;
  }

  .contact-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    width: 130px;
  }
  .text-center {
    text-align: center;
  }
}
